<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.travel_app_srilanka">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Travel App Sri Lanka"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travel_App_Srilanka"
        tools:targetApi="31">

        <!-- IntroActivity -->
        <activity
            android:name=".Activities.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ActivitySignup -->
        <activity
            android:name=".Activities.ActivitySignup"
            android:exported="true"/>

        <!-- ActivityLogin -->
        <activity
            android:name=".Activities.ActivityLogin"
            android:exported="true"/>

        <!-- MainActivity -->
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"/>

        <!-- DetailActivity -->
        <activity
            android:name=".Activities.DetailActivity"
            android:exported="true"/>

        <!-- ActivityProfile -->
        <activity
            android:name=".Activities.ActivityProfile"
            android:label="Profile Activity"
            android:exported="true" />

        <!-- EditPersonalInfoActivity -->
        <activity
            android:name=".Activities.EditPersonalInfoActivity"
            android:exported="true"/>
    </application>

</manifest>
